@use '../../utils' as *;
.header-bg-secondary{
    background: #2b2b2b;
}
.header-bg-primary{
    background:  #171717;
}

.main-menu{ 
    & ul{
        & li{
            position: relative;
            display: inline-block;
            margin-right: 42px;
            @include breakpoint(xl){
                margin-right: 10px;
            }
            & a{
                color: #FFF;
                font-family: var( --tp-secondary-font);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; 
                display: inline-block;
                padding: 30px 0px;
                @include breakpoint(xl){
                    font-size: 12px;
                }
            }

            & .submenu{
                position: absolute;
                top: 105%;
                left: 0;
                width: 213px;
                background-color: #fff;
                padding: 15px 0;
                opacity: 0;
                visibility: hidden; 
                z-index: 999999;
                transition: 0.3s;                
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                & li  {
                    margin-right: 0;
                    display: block;
                    & a{
                        color: #000;
                        display: block;
                        padding: 5px 25px;
                        font-size: 17px;
                        transition: 0.3s;
                        -webkit-transition: 0.3s;
                        -moz-transition: 0.3s;
                        -ms-transition: 0.3s;
                        -o-transition: 0.3s;
                        }
                    & .submenu{
                            top: 105%;
                            left: 100%;
                            opacity: 0;
                            visibility: hidden;
                            z-index: 999999;
                        }
                    &:hover{
                        & > a{
                            color: var(-- theme-color);
                        }
                        & > .submenu{
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                        }
                    }
                }
            }
            &:hover{
                & a{
                color: var(-- theme-color-2);
                }
               & .submenu{
                opacity: 1;
                visibility: visible;
                top: 100%; 
               }
            }
        }
    }
}

.header{
    &-search {
        margin-right: 30px;

        &_search-field{
            position: relative;
            margin-right: 16px;
            input{
                width: 320px;
                height: 50px;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                background-color: #111111;
                border: none;
                &::placeholder{
                    color:#5C6574;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;  
                }
            }

            .search-icon{
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    &-menu-bar{
        & button{
            padding: 27px 23px;
            background: var(--tp-theme-color);
        }
    }
    &-cta{
        padding: 21px 40px;
        border-left: 1px solid rgba(255, 255, 255, 0.15); 
        &-icon {
            margin-right: 15px;
        }
    }
    &-cta-text{
        .icon-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &  h4 {
                color: #FFF;
                font-family: var( --tp-secondary-font);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }
        }

        & span { 
            color: #B1B4BA;
            font-family: var( --tp-secondary-font);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
        }

    }
    &-border-bottom{ 
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}
