.food-item-wrapper {
    padding: 80px 25px 50px 25px;
    background-color: #F4EFE3;
    ;

    .image-content {
        position: relative;
        padding: 50px 50px 20px 50px;
        background-color: #ddd;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        .item-image {
            position: absolute;
            top: -40%;
            left: 8%;
        }

        .item-content {
            margin-top: 40px;
            color: #1F1F1F;
            text-align: center;
            font-family: "ZCOOL XiaoWei";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-transform: capitalize;
        }
    }

}

.item-bg {
    background: #F4EFE3;
}