/* Order Card Style One */
.order-card { 
    &__image-content {
        position: relative;
        padding: 30px;
    }
    
    &__image {
        width: 100%;
        height: auto;
    }
    
    &__content {
        position: absolute;
        top: 35%;
        left: 25%;
        transform: translate(-35%, -25%);
        -webkit-transform: translate(-35%, -25%);
        -moz-transform: translate(-35%, -25%);
        -ms-transform: translate(-35%, -25%);
        -o-transform: translate(-35%, -25%);
}
    
    &__title { 
        font-family: var(   --tp-secondary-font);
        color: var(  --tp-theme-color); 
        font-family: "ZCOOL XiaoWei";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;  
        text-transform: capitalize;
    }
    
    &__subtitle { 
        margin-top: 10px;
        font-family: var(   --tp-secondary-font);
        color: var(   --tp-white);
 
        font-family: "ZCOOL XiaoWei";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: capitalize;
    }
    
    &__offer {
        font-size: 16px;
        margin-top: 20px;        
        color: var(  --tp-theme-color); 
        font-family: "ZCOOL XiaoWei";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;  
        text-transform: capitalize;
    }
    
    &__btn-wrapper {
        margin-top: 50px;
        padding-bottom: 50px;

    }
} 
/* End Order Card Style One */